<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Drive Buttons">
    <meta name="author" content="Aidan Beckett">

    <title>Drive</title>
      <link rel="stylesheet" href='../static/master.css'/>
</head>
<body>

	<h1>Bootleg Roomba</h1>
	<table>
	  <tr>
	    <th></th>
	    <th><a href="/forward" class="button">Forward</a></th>
	    <th></th>
	  </tr>
	  <tr>
	    <td><a href="/left" class="button">Left</a></td>
	    <td align="center"><a href="/" class="button">Stop</a></td>
	    <td><a href="/right" class="button">Right</a></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td><a href="/backwards" class="button">Backwards</a></td>
	    <td></td>
	  </tr>
</table>
<a href="/up" class="button">Up</a>
<a href="/med" class="button">Medium</a>
<a href="/down" class="button">Down</a>

</body>
